
<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Me</h2>
        <h3 class="section-subheading text-muted">Journey So Far</h3> <br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li  class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="./images/about/TDBank.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>September 2016</h4>
                <h4 class="subheading">Internship At Toronto-Dominion Bank</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I was hired as a <strong>DEVELOPER</strong> under <strong> Enterprise and Distributed Tools </strong> Team.
                I basically worked on <strong> JavaScript, JQuery, JSON, Perl Script, HTML5 and CSS3 </strong> to automate the manual process.
                I learned to implement 3-party controllers and <strong> Agile Methodology </strong> in detail</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="./images/about/Georgian.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>January 2016</h4>
                <h4 class="subheading">Georgian College</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Came to Canada taking admission in COMPUTER PROGRAMMING to implement my skills practically.
                Learned SDLC life cycles, Web Programming, Java and Project Management in detail</p>
              </div>
            </div>
          </li>

          <li  class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="./images/about/atyantik.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>April 2015 - May 2015</h4>
                <h4 class="subheading">Internship at Atyantik Technologies</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Had an opportunity of exposure to work in an IT Industry.
                  Learned Git and object oriented with PHP</p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-image"><br>
              <img class="img-circle img-responsive" src="./images/about/gtu.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2011 - July 2015</h4>
                <h4 class="subheading">Bachelor of Engineering in Computer</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Started from scratch and gained skills in the field of Programming, Networking and Management side.</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
