
<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Me</h2>
        <h3 class="section-subheading text-muted">Journey So Far</h3> <br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">

		<li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="./images/about/rbc.png" alt="RBC Logo">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>January 2018 - Present</h4>
              <h4 class="subheading">Operations Analyst</h4>
            </div>
            <div class="timeline-body">

				<p class="text-muted"> Widened mainframe side skillsets in Z/OS, ISPF Panel, Data Set Allocation and transferring data
				through 2 types of Gateways. On the programming side, I am responsible for gathering statistics for entire team for Senior Managers to see the outcome of
				not only the team but also the jobs running through ZEKE Scheduler. </p>

            </div>
          </div>
        </li>

		<li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="./images/about/rbc.png" alt="RBC Logo">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>September 2017</h4>
              <h4 class="subheading">Internship At Royal Bank of Canada</h4>
            </div>
            <div class="timeline-body">

				<p class="text-muted">I was hired as a <strong>Technical Analyst Coop at Royal Bank of Canada. </strong> In my 4 months term,
				I had a chance to explore more about different coding languages and NoSQL databases.
				I coded in <strong>Jade, AngularJS, NodeJS, Elastic Search and made REST API calls </strong>
				I was also able to create scripts to automate the manual process in my department.
				Apart from this, I also contributed on the designing side in creating monthly newsletters
				and making responsive templates.</p>

            </div>
          </div>
        </li>

          <li  class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="./images/about/TDBank.png" alt="TD Bank Logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>September 2016</h4>
                <h4 class="subheading">Internship At Toronto-Dominion Bank</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I was hired as a <strong>DEVELOPER</strong> under <strong> Enterprise and Distributed Tools </strong> Team.
                I basically worked on <strong> JavaScript, JQuery, JSON, Perl Script, HTML5 and CSS3 </strong> to automate the manual process.
                I learned to implement 3-party controllers and <strong> Agile Methodology </strong> in detail</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="./images/about/Georgian.png" alt="Georgian College Logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>January 2016</h4>
                <h4 class="subheading">Georgian College</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Came to Canada taking admission in COMPUTER PROGRAMMING to implement my skills practically.
                Learned SDLC life cycles, Web Programming, Java and Project Management in detail</p>
              </div>
            </div>
          </li>

          <li  class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="./images/about/atyantik.jpg" alt="Atyantik Logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>April 2015 - May 2015</h4>
                <h4 class="subheading">Internship at Atyantik Technologies</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Had an opportunity of exposure to work in an IT Industry.
                  Learned Git and object oriented with PHP</p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-image"><br>
              <img class="img-circle img-responsive" src="./images/about/gtu.png" alt="GTU Logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2011 - July 2015</h4>
                <h4 class="subheading">Bachelor of Engineering in Computer</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Started from scratch and gained skills in the field of Programming, Networking and Management side.</p>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
