<% include ./partials/header.ejs %>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Hey, I'm</div>
      <div class="intro-heading">RUTUL SHAH</div>
    </div>
  </div>
</header>


<% include ./skills.ejs %>

<% include ./projects.ejs %>

<% include ./about.ejs %>

<% include ./contact.ejs %>

<% include ./partials/footer.ejs %>