<% include ./partials/header.ejs %>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Hey, I'm</div>
      <div class="intro-heading">RUTUL SHAH</div>
      <a href="#skills" class="page-scroll"></a>
    </div>
  </div>
</header>

<% include ./partials/footer.ejs %>