<% include ./partials/header.ejs %>
<!-- Services Section -->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SKILLS</h2>
                <h3 class="section-subheading text-muted">Look what I know about <strong>Languages</strong>, <strong>Frameworks</strong>, <strong>Deployment</strong> and <strong>Project Management Tools</strong> </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                    <span class="fa-stack fa-4x">
                            <img src="./images/skills/html5.svg" class="img-responsive img-circle" alt="HTML logo">
                    </span>
                <h4 class="service-heading">HTML5</h4>

            </div>
            <div class="col-md-3 col-sm-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-stack-1x">
                            <img src="./images/skills/css3.svg" class="img-responsive img-circle" alt="CSS3 logo">
                        </i>
                    </span>
                <h4 class="service-heading">CSS3</h4>

            </div>
            <div class="col-md-3 col-sm-6">
                    <span class="fa-stack fa-4x">
                        <img src="./images/skills/bootstrap.svg" class="img-responsive img-circle" alt="bootstrap logo">
                    </span>
                <h4 class="service-heading">Bootstrap</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                    <span class="fa-stack fa-4x">
                        <img src="./images/skills/php.svg" class="img-responsive img-circle" alt="php logo">
                    </span>
                <h4 class="service-heading">PHP</h4>
            </div>
        </div>

        <br />

        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                    <span class="fa-stack fa-4x">
                        <img src="./images/skills/javascript.svg" class="img-responsive img-circle" alt="javascript logo">
                    </span>
                <h4 class="service-heading">JavaScript</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                    <span class="fa-stack fa-4x">
                        <img src="./images/skills/nodejs.svg" class="img-responsive img-circle" alt="node logo">
                    </span>
                <h4 class="service-heading">NodeJS</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                    <span class="fa-stack fa-4x">
                        <img src="./images/skills/git.svg" class="img-responsive img-circle" alt="git logo">
                    </span>
                <h4 class="service-heading">Git</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                    <span class="fa-stack fa-4x">
                        <img src="./images/skills/slack.svg" class="img-responsive img-circle" alt="slack logo">
                    </span>
                <h4 class="service-heading">Slack</h4>
            </div>

        </div>
    </div>
</section>
<% include ./partials/footer.ejs %>