<section id="skills-highchart">
  <fieldset>
    <legend> <h3 style="color: #3f5679;text-align: center"> Skills in Detail </h3> </legend>
  </fieldset>
  <div class="row text-center">
    <div class="col-md-6 col-sm-6" style="border: 0px solid; height: 400px">
      <span style="font-weight: bold; font-size: large" id="demo">
        <h4 >Experienced Information Technology Associate with a demonstrated history of working in the banking industry. </h4>
          <!--Skilled in-->
          <!--HTML
          MySQL
          Cascading Style Sheets (CSS)
          JavaScript
          NodeJS
          PHP
          C# and
          ASP.NET
             Strong information technology professional with a Associate’s Degree focused in Computer Programming from Georgian
            College along with Bachelors of engineering focused in Computer Science.-->
        </span>
    </div>

    <div class="col-md-6 col-sm-6">
      <div id="skillsContainer">

      </div>
    </div>
  </div>
</section>